---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import MemberInfo from '../../components/MemberInfo.astro'
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components'
import { getCollection, render } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import { dateFormat } from '../../utils/DateFormat'

export async function getStaticPaths() {
  const stories = await getCollection('stories')
  return stories.map((story) => {
    return {
      params: { story: story.id },
      props: { story },
    }
  })
}

interface Props {
  story: CollectionEntry<'stories'>
  authorData: CollectionEntry<'members'>
}

const { story } = Astro.props
const { Content } = await render(story)

const members = await getCollection('members')

const authorData = members.find((m) => m.data.userid === story.data.author) || {
  data: {
    userid: 'unknown',
    title: '익명의 기고자',
  },
}
console.log(story.data.author)
---

<DefaultLayout
  title={story.data.title}
  description={story.data.description}
  url={'stories/' + story.data.slug}
  img={story.data.img}>
  <div class="container">
    <div class="mt-12">
      <Breadcrumbs>
        <BreadcrumbsItem href="/" label="홈" />
        <BreadcrumbsItem href="/stories" label="이야기" />
        <BreadcrumbsItem currentPage={true} label={story.data.title} />
      </Breadcrumbs>
    </div>
  </div>
  <article>
    <section class="my-12">
      <div class="container">
        <h1>{story.data.title}</h1><br />
        <p>{dateFormat(story.data.pubDate)}</p>
      </div>
    </section>
    <section class="my-12">
      <div class="space-content container">
        <Content />
        <aside class="author">
          <MemberInfo member={authorData} />
        </aside>
      </div>
    </section>
  </article>
</DefaultLayout>

<style lang="scss">
  ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 4rem;

    @media (min-width: 550px) {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }

    @media (min-width: 950px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  article {
  }
  .author {
    float: right;
		margin-bottom: 80px;
		max-width: 300px;
    margin-top: 2rem;
    color: var(--text-300);
    font-size: 0.9rem;
  }
</style>
