---
import '@astrojs/tailwind/base.css'
import '../assets/scss/globals.scss'
import SiteMeta from '../components/SiteMeta.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'

const {
  title = 'A11YKR',
  description = '한국의 디지털 접근성을 높일 수 있도록 관련 자료를 수집하고 의견을 나누는 공간입니다.',
  slug,
  url = slug,
  image = 'social-preview-image.png',
  author = 'A11YKR',
} = Astro.props
---

<html lang="ko" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={url}
      slug={slug}
      image={image}
      author={author}
    />
  </head>
  <body>
    <Header />
    <main id="main-content" transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <style lang="scss" is:global>
      // theme settings
      :root {
        --radius-small: 3px;
        --radius-large: 6px;
        --gap-default: 2rem;
        --font-measure: 70ch;
        --font-family-default: 'Pretendard', 'Open Sans', sans-serif;
        --font-family-special: 'Pretendard', 'Open Sans', sans-serif;
        // light theme
        --font-color: var(--neutral-900);
        --action-color: var(--primary-300);
        --action-color-state: var(--primary-500);
        --background: var(--neutral-100);
        --primary-background: var(--primary-100);
        --neutral-background: var(--neutral-200);
      }

      // dark color scheme overrides
      .darkmode {
        --font-color: var(--neutral-100);
        --action-color: var(--secondary-100);
        --action-color-state: var(--secondary-500);
        --background: var(--dark-100);
        --primary-background: var(--primary-500);
        --neutral-background: var(--neutral-900);
      }

      // sticky footer on low content pages
      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        flex-direction: column;
        background-color: var(--background);
        overflow-x: hidden;
        color: var(--font-color);

        main {
          flex: 1 0 auto;
          line-height: 1.75;
        }

        footer {
          flex-shrink: 0;
        }
      }

      pre {
        border: 2px solid var(--action-color);
        border-radius: 0.35rem;
        padding: 1rem;
      }

      body .pagination a {
        &:hover,
        &:focus-visible {
          background-color: var(--action-color-state);

          svg path {
            stroke: white;
          }
        }
      }
      .hidden {
        position: absolute;
        margin: -1px;
        padding: 0;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border-width: 0;
        white-space: nowrap;
      }

      // Custom styles for the main content
      .narrow-wrap,
      #main-content article {
        margin: 0 auto;
        max-width: 48rem;
        ul {
          display: block;
          li {
            list-style-type: disc;
          }
        }
        blockquote {
          border-left: 3px solid #ccc;
          padding-left: 2rem;
        }
        figcaption {
          padding-top: 0.5rem;
        }
      }
    </style>
  </body>
</html>
